body{
	font-family: 'Alata', sans-serif;
	background-color: maroon;
	font-size: 16px;
	color: white;
}


#header-nav{
	background-color: lightgray;
	border-radius: 0;
	border: 0;
}
#logo-img{
	background-position: center center;
	background-image: url(https://upload.wikimedia.org/wikipedia/ru/b/bf/KFC_logo.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 175px;
	height: 175px;
	margin: 10px 15px 10px 0px; 
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'Fredoka One', cursive;
	color: firebrick;
	font-size: 8em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 8px #222, -1px 0px black, 1px 0px black, 0px 1px black, 0px -1px black;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand span{
	vertical-align: middle;
}
#nav-list{
	padding-top: 15px;
}
#nav-list a{
	color: maroon;
	text-align: center;
}
#nav-list a:hover{
	background-color: #E7E7E7 ;
}
#nav-list a span{
	font-size: 1.4em
}

#phone{
	margin-top: 5px;
}
#phone a{
	text-align: right;
	padding-bottom: 0;
}
#phone div{
	text-align: right;
	padding-right: 15px;
	color: gray;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: #E7E7E7;
}
.panel-footer div.row {
  margin-bottom: 35px;
  border-radius: 0;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
.coke{
	color: gray;
}
/* END FOOTER */


.container .jumbotron {
  box-shadow: 0 0 50px #4d0505;
  border: 2px solid #4d0505;
}
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a6556d56754573.59bac462be6f8.jpg) no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
#specials-tile {
  background: url(https://mudheshmag.com/wp-content/uploads/2020/07/kfc-1.jpg) no-repeat;
  background-position: center;
  background-size: 120% 100%;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
  box-shadow: 0 0 20px #4d0505;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
  color: white;
}
#menu-categories-title{
	color: white;
}

/* END MENU CATEGORIES PAGE */

.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid black; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
  box-shadow: 0 0 20px #4d0505;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */

#soon {
	font-size: 10vw;
	text-shadow: 0.4vw .4vw 0 black;
}
#soon + p{
	font-size: 2vw;
	text-shadow: 0 0 4vw black;

}


/********** Large devices only **********/
@media (min-width: 1200px) {
	.container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_1200.jpg) no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background-position: center center;
	background-image: url(https://upload.wikimedia.org/wikipedia/ru/b/bf/KFC_logo.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
    margin: 5px 20px 5px 0;
  }
  .navbar-brand h1{
  	font-size: 4em;
  	margin-bottom: 10px;
  }
  .navbar-brand{
  	padding-top: 15px;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_992.jpg) no-repeat;
    height: 558px;
  }
  /* End Home Page */
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand h1{
  	font-size: 6em;
  	margin-bottom: 10px;
  }
  .navbar-brand{
  	padding-top: 15px;
  }


   /* Home Page */
  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_768.jpg) no-repeat;
    height: 432px;
  }
  /* End Home Page */

  #soon {
	font-size: 15vw;
	text-shadow: 0.6vw .6vw 0 black;
	}
	#soon + p{
	font-size: 3vw;
	text-shadow: 0 0 4vw black;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 20vw;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 20vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 30px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span{
  	font-size: 1em;
  	margin-right: 5px;
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    background-color: lightgray;
    color: #951c49;
    box-shadow: 0px 0px 10px black;
  }
  #call-btn > a:hover, #call-btn > a:focus{
  	background-color: white;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;
  }

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile, #map-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
    margin-bottom: 10px;
  }
  .menu-item-description {
    text-align: center;;
  }

  #soon {
	font-size: 20vw;
	text-shadow: 0.8vw .8vw 0 black;
}
	#soon + p{
	font-size: 4vw;
	text-shadow: 0 0 4vw black;
	}
}



@media (max-width: 479px) {
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

   .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  #soon {
	font-size: 20vw;
	text-shadow: 0.8vw .8vw 0 black;
}
	#soon + p{
	font-size: 4vw;
	text-shadow: 0 0 4vw black;
	}
}
